:root {
  --sec-color: #5995ED;
  --dark-color: #322E18;
  --accent-color: #FBB13C;
  --bg-color: #FFFFFF;
}

*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body
{
  background-color: var(--bg-color);
  font-family: var(--text-font);
}

ul, ol
{
  list-style: none;
}

a
{
  text-decoration: none;
  color: var(--dark-color);
}
